.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E1E4E1;
    color: rgb(54, 54, 54);
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 2;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    margin-top: 200px;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 18px;
    display: block;
    width: 100%;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
    background-color: #3b3b3b;
    color: white;
}

.sidebar ul li a.active {
    background-color: #8585858e;
    color: white;
    border-left: 5px solid #FFD166;
}

.logo-a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 0;
    width: 250px;
    z-index: 3;
}

.logo {
    display: block;
    height: 120px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
}

/* Περιεχόμενο Σελίδας */
.content {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.welcome {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.notifications,
.my-students,
.create-quiz {
    margin-top: 50px;
    border-radius: 10px;
    padding: 5px;
    height: 250px;
    min-width: 250px;
    max-width: 450px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    flex: 1;
}

.notifications ul li,
.my-students ul li,
.create-quiz ul li {
    list-style-type: none;

}

.notifications {
    background-color: #5ab5ffe0;
}

.latest-quiz-container {
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    padding: 20px;
    max-width: 1400px;
    width: 100%;
    display: block;
}

h3 {
    text-align: center;
    color: #1c4857;
    margin-bottom: 20px;
}

.quiz-table {
    width: 100%;
    border-collapse: collapse;
}

.quiz-table th,
.quiz-table td {
    padding: 12px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.quiz-table th {
    background-color: #f8f8f8;
    color: rgb(53, 53, 53);
    font-weight: bold;
}

.quiz-table td {
    background-color: #f8f8f8;
}

#view-btn {
    border-radius: 20px;
    padding: 10px 15px;
}

#view-btn:hover {
    background-color: rgb(255, 180, 180);
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(6, 214, 160, 0.5);
    transition: 0.2s ease;
}