<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <title>My Dashboard | EduPlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</head>

<body>
    <!-- <button id="toggleMenu" class="menu-btn">☰ Μενού</button> -->
    <a href="{{ url_for('home') }}" class="logo-a">
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="EduPlay Logo" class="logo">
    </a>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('myAccount') }}">My Account</a></li>
            <li><a href="{{ url_for('logout')}}">Log out</a></li>
        </ul>
    </div>

    <!-- 🔹 Περιεχόμενο της Σελίδας -->
    <div class="content">
        <h1>Καλώς ήρθες στο Dashboard</h1>
        <p>Εδώ εμφανίζεται το περιεχόμενο της σελίδας σου.</p>
    </div>
</body>

</html>