<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <title>My Dashboard | EduPlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</head>

<body>
    <!-- <button id="toggleMenu" class="menu-btn">☰ Μενού</button> -->
    <a href="{{ url_for('home') }}" class="logo-a">
        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="EduPlay Logo" class="logo">
    </a>
    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('myAccount') }}">My Account</a></li>
            <li><a href="{{ url_for('create_quiz') }}">Create Quiz</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li>My Students</li>
            <li>Progress</li>
            <li><a href="{{ url_for('logout')}}">Log out</a></li>
        </ul>
    </div>

    <!-- Περιεχόμενο Σελίδας -->
    <div class="content">
        <div class="welcome">
            <h1>Welcome to your dashboard</h1>
            <date></date>
        </div>
        <div class="cards">
            <div class="notifications">
                <h4>My Notifications</h4>
                <ul>
                    <li>You have one unread notification</li>
                </ul>
            </div>
            <div class="my-students">
                <h4>I have 40 students</h4>
            </div>
            <div class="create-quiz">
                <a href="{{ url_for('create_quiz') }}">Create Quiz</a>
            </div>
        </div>
        <div class="latest-quiz-container">
            <h3>Your latest quizzes</h3>
            <table class="quiz-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Quiz Title</th>
                        <th>Lesson</th>
                        <th>Date Created</th>
                        <th>Completed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Math Quiz</td>
                        <td>Mathematics</td>
                        <td>2025-03-28</td>
                        <td>58%</td>
                        <td><button type="button" id="view-btn">View</button>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>History Quiz</td>
                        <td>History</td>
                        <td>2025-03-25</td>
                        <td>45%</td>
                        <td><button type="button" id="view-btn">View</button>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Science Quiz</td>
                        <td>Science</td>
                        <td>2025-03-22</td>
                        <td>98%</td>
                        <td><button type="button" id="view-btn">View</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>